<template lang="pug">
  v-app
    v-card(width="600px" elevation="0" class="mx-auto")
      v-card-text(:elevation="0")
        v-text-field(v-model="searchWord", hide-details, prepend-inner-icon="mdi-magnify",
          full-width, solo, dense, background-color="#fafafa")
        Profile(:searchWord="searchWord")
</template>

<script>
export default {
  data() {
    return {
      searchWord: ''      
    };
  },
  async fetch({store}) {
    const usersData = await import(`@/static/data/users.json`)
    const users = Object.values(usersData).map((item, id) => ({ ...item, id }))
    store.commit('profiles/add', users)
  },
  beforeMount() {
    this.searchWord = this.$route.params.search
  }  
}
</script>