<template lang="pug">
  div
    div(id="maindiv" class="my-3 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100 scrollbar-thumb-rounded-full")
      v-card(v-for="profile of filteredProfiles" :key="profile.id" class="my-3")
        v-card-text(:class=`highlighted[profile.id] ? 'd-flex pa-0 ma-0 border-solid border-2 border-blue-500' 
                                                    : 'd-flex pa-0 ma-0'`)
          img(class="w-40 bg-gray-300" :src="profile.avatar")
          div(class="flex-grow-1 pa-3 d-flex flex-column justify-space-between")
            div(class="d-flex justify-space-between")
              div
                h2(class="text-sm font-black text-lg" v-html="profile.name")
                p(class="py-0 my-0")
                  b(v-html="profile.title")
                p(class="py-0 my-0")
                  span(v-html="profile.address")
                  span(v-html="profile.city")
              div(v-html="profile.email")
            v-divider
            div
              v-btn(text color="#3a948a" @click=`
                  highlighted[profile.id] = $set(highlighted, profile.id, !highlighted[profile.id])
                `) {{ highlighted[profile.id] ? 'SKIP SELECTION' : 'MARK AS SUITABLE' }}
      
      infinite-loading(spinner="spiral" :identifier="infiniteId" @infinite="infiniteScroll")
        div(slot="spinner") Loading...
        div(slot="no-more") No more records to load
        div(slot="no-results") {{filteredSearchResults.length === 0 ? 'No records found' : ''}}
</template>
<script>
export default {
	props: {
    searchWord: { type: String, default: '' }
  },
	data () {
		return {			
      filteredSearchResults: [],
      limit: 20,
      startIndex: 0,
      infiniteId: 0,
      highlighted: {}      
		}
	},
  computed: {
    filteredProfiles() {
      const { searchWord } = this
      if (!Array.isArray(this.filteredSearchResults)) {
        return []
      }
      return this.filteredSearchResults?.map((result) => {
        const highlightedEntries = Object.entries(result)?.map(([key, val]) => {
          if (key === 'avatar' || key === 'id') {
            return [key, val]
          }
          
          const highlightedVal = val ?.replace(new RegExp(searchWord, 'gi'), 
            (match) => `<mark>${match}</mark>`)
          return [key, highlightedVal]
        })
        return Object.fromEntries(highlightedEntries)
      })
    }
  },
  watch: {
    searchWord: {
      handler: 'searchProfiles',
      immediate: true
    }
  },
	methods: {
    async searchProfiles() {
      this.startIndex = 0
      this.limit = 20      
      this.infiniteId += 1

      const filteredSearchResults = await this.getResults()
      this.filteredSearchResults = [...filteredSearchResults]
    },
    async infiniteScroll ($state) {
      this.startIndex = this.limit
      this.limit = this.limit + 20

      const filteredSearchResults = await this.getResults()
      
      if (filteredSearchResults.length > 1) {
          this.filteredSearchResults = [...this.filteredSearchResults, ...filteredSearchResults]
          $state.loaded()
      } else {
          $state.complete()
      }
    },
    getResults() {
      const { searchWord } = this
      let filteredSearchResults
      if (searchWord) {
        filteredSearchResults = this.$store.state.profiles.list
          .filter((u) => {
            const { address, city, email, name, title } = u
            return (
              name?.toLowerCase()?.includes(searchWord?.toLowerCase()) || 
              email?.toLowerCase()?.includes(searchWord?.toLowerCase()) ||
              title?.toLowerCase()?.includes(searchWord?.toLowerCase()) || 
              address?.toLowerCase()?.includes(searchWord?.toLowerCase()) ||
              city?.toLowerCase()?.includes(searchWord?.toLowerCase())
            )
          })
          ?.slice(this.startIndex, this.limit)
      } else {
        filteredSearchResults = this.$store.state.profiles.list ?.slice(this.startIndex, this.limit)
      }
      return filteredSearchResults
    }        
  }
}
</script>
<style>
#maindiv {
  height: calc(100vh - 100px);
}

</style>
